---
- name: Install nginx
  hosts: prod_server1
  become: true

  tasks:
  - name: Add epel-release repo
    yum:
      name: epel-release
      state: present

  - name: Install nginx
    yum:
      name: nginx
      state: present

  - name: Creates directory
    file:
      path: /src/www
      state: directory
      owner: nginx
      group: nginx
      mode: 0775

  - name: Start NGiNX
    service:
      name: nginx
      state: started
